---
interface Props {
    number: string;
    text: string;
}

const {number, text} = Astro.props
---

<div>
    <h1 class="font-bold text-[3.348rem] text-[#28832F]">
        {number}
    </h1>        
    <h4 class="text-sm">{text}</h4>
</div>